@model Blood_Donations_Project.ViewModels.ForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">

                <h3 class="card-title text-center mb-4">Forgot Password</h3>

                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                    </div>

                    <button type="submit" class="btn btn-danger w-100">
                        Send Reset Link
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a asp-action="Login" class="text-danger fw-bold">Back to Login</a>
                </div>

            </div>
        </div>
    </div>
</div>
