@model Blood_Donations_Project.ViewModels.ResetPassword
@{
    ViewData["Title"] = "Reset Password";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">

                <h3 class="card-title text-center mb-4">Reset Password</h3>

                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />

                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-danger w-100">
                        Reset Password
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a asp-action="Login" class="text-danger fw-bold">Back to Login</a>
                </div>

            </div>
        </div>
    </div>
</div>
